<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1995/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">
	
<head>
	<meta charset="UTF-8"/>
	<title>Pesquisa de Casas</title>
</head>
<section layout:fragment="conteudo">
	<div th:replace="MensagemGeral"></div>	
	<div class="panel panel-default" >
		<div class="panel-heading">
			<h1 class="panel-title">Pesquisa de Casas</h1>
		</div>
		
		<div class="panel-body">
		
			<form method="GET" class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control" placeholder="Qual casa está procurando ?"
								autofocus="autofocus" name="nome"></input>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>
		
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th class="text-center col-md-2">Nome</th>
						<th class="text-center col-md-4">Endereço</th>
						<th class="text-center col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="casa : ${casas}">
						<td class="text-center col-md-1" th:text="${casa.id}"></td>
						<td class="text-center col-md-2" th:text="${casa.nome}"></td>
						<td class="text-center col-md-4" th:text="${casa.endereco}"></td>
						<td class="text-center col-md-1">
							<a class="btn btn-link btn-xs" th:href="@{/casa/{id}(id=${casa.id})}" 
								title="Editar" rel="tooltip" data-placement="top">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
								th:attr="data-codigo=${casa.id}, data-nome=${casa.nome}"
								title="Excluir" rel="tooltip" data-placement="top">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
					</tr>
				
					<tr>
						<td colspan="4" th:if="${#lists.isEmpty(casas)}">Nenhuma casa foi encontrada!</td>
					</tr>
				</tbody>
			</table>
			
			<nav id="pagination">
			  <ul class="pager">
			    <li th:if="${page.offsetProximo != 10}">
			    	<a th:href="@{/casa/pesquisa?o={var}(var=${page.offsetAnterior})}">Anterior</a>
			    </li>
			    <li th:if="${!#lists.isEmpty(casas)}">
			    	<a th:href="@{/casa/pesquisa?o={var}(var=${page.offsetProximo})}" >Próximo</a>
			    </li>
			  </ul>
			</nav>
		</div>
		
		<div th:replace="ConfirmacaoExclusaoCasa"></div>
		
	</div>
</section>	
</html>